* {
margin: 0;
padding: 0;
}

body {
background: #F2EBDF;
}

header {
display: flex;
align-items: center;
justify-content: space-between; /* pushes logo/title left, user icon right */
 padding: 0 16px;
background: #F7F5EF;
border-bottom: 1px solid #ddd;
position: relative;
height: 7vh;
}

footer {
height: 7vh;
padding: 0.5rem 1rem;
background: #291c0e;
display: flex;
}

.dropdown {
position: relative; /* makes dropdown position relative to this */
width: 8%;
}

#profilePic {
width: 30%;
height: 20%;
background-color: transparent;
}

.profile {
cursor: pointer;
}

#guestLinks {
display: none;
position: absolute;
right: 15;            /* aligns dropdown’s right edge to the icon */
top: 100%;           /* places it below the icon */
background: #F7F5EF;
border: 1px solid #ccc;
border-radius: 4px;
padding: 0.5rem 0;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

#userHeader {
list-style-type: none;
display: none;
}

.dropdown a {
display: block;
padding: 0.5rem 1rem;
text-decoration: none;
color: #333;

}

.dropdown a:hover {
background: #F2EBDF;

}

.dropdown:hover #guestLinks {
display: block; /* show dropdown on hover */

}

/* login form */


form {
  border: 3px solid #f1f1f1;
  width:340px;
  height:440px;
  background:#e6e6e6;
  border-radius:8px;
  box-shadow:0 0 40px -10px #989898;
  margin:calc(42vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative;
}

/* Full-width inputs */
input[type="email"], input[type="password"] {
  width: 100%;
  padding: 18px 20px;
  margin: 25px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; 
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2;
}
input:focus { 
  border-bottom:2px solid #78788c;
}

label[type="email"] {
  margin-top: 15px;
}

/* Set a style for all buttons */
button {
  
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family:'Montserrat',sans-serif;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s;
}

button:hover { 
  background:#78788c;
  color:#fff;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

span.psw {
  float: right;
  padding-top: 16px;
  background-color:#f1f1f1
}
