* {
margin: 0;
padding: 0;
}

body {
background: #F2EBDF;
}

header {
display: flex;
align-items: center;
justify-content: space-between; /* pushes logo/title left, user icon right */
padding: 0.5rem 1rem;
background: #F7F5EF;
border-bottom: 1px solid #ddd;
position: relative;
margin-bottom: 15%;
height: 7vh;
}

footer {
height: 7vh;
padding: 0.5rem 1rem;
background: #291c0e;
display: flex;
}

/*.logo {
font-weight: bold;
}

.title {
flex-grow: 1;
text-align: center;
font-size: 1.2rem;
} */

.dropdown {
position: relative; /* makes dropdown position relative to this */
width: 10%;
}

#profilePic {
width: 30%;
height: 20%;
}

.profile {
cursor: pointer;
}

#guestLinks {
display: none;
position: absolute;
right: 15;            /* aligns dropdown’s right edge to the icon */
top: 100%;           /* places it below the icon */
background: #F7F5EF;
border: 1px solid #ccc;
border-radius: 4px;
padding: 0.5rem 0;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

#userHeader {
list-style-type: none;
display: none;
}

.dropdown a {
display: block;
padding: 0.5rem 1rem;
text-decoration: none;
color: #333;

}

.dropdown a:hover {
background: #f0f0f0;

}

.dropdown:hover #guestLinks {
display: block; /* show dropdown on hover */

}

/* login form */

#container {
display: flex;
width: 70vw;
height: 65vh;
background: #A6A77D;
margin: 0 auto;
padding: 5px;
margin-bottom: 25%;
min-width: 40%;
justify-content: center;

}

p {
font-weight: 400;
color: black;
width: 32.5%;
height: 15%;
margin: 0 auto;
font-size: 2em;
padding: 3%;
flex-direction: column;

}

form {
margin: 0 auto;
width: 110%;
height: 70%;
display: flex;
flex-direction: column;
row-gap: 5%;
}

form > input::nth-of-type(1), form > input:n:nth-of-type(2) {
border-radius: 5px;
width: 70%;
display: block;
border-radius: 3px;

}

label {
font-family: 'sans-serif', 'arial';
font-size: 1.5em;
}

input:last-of-type {
width: 27%;
height: 10%;
align-self: center;
padding: 5px;
border-radius: 8px;
font-size: 1.05em;
border: none;
}