* {
    margin: 0;
    padding: 0;
}

body {
background: #F2EBDF;

}

header {
display: flex;
align-items: center;
justify-content: space-between; /* pushes logo/title left, user icon right */
padding: 0.5rem 1rem;
background: #F7F5EF;
border-bottom: 1px solid #ddd;
position: relative;
margin-bottom: 5%;
height: 7vh;
}


#profilesidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background-color: #84A4C4;
  transition: all 0.3s;
  margin: 0;
  padding: 0.5%;  
}

#toggleBtn {
    margin-bottom: 10px;
  /* position: relative;
  left: 92%;
  top: 25%; */
} 

#profilesidebar.open {
   right: 0;
}

#maincontent {
    margin-right: 0;
  transition: margin-left 0.3s;
}

#maincontent.shifted {
  margin-right: 250px;
}

#profilesidebar li {
  outline: 1px solid black;
  padding: 10%;
  font-weight: bold;
}

#profilesidebar li a { 
  text-decoration: none;
}

.accountlist {
  list-style-type: none; 
  padding: 0;
 
  width: 100%;
}
/* Main Container */
.dropdown {
position: relative; /* makes dropdown position relative to this */
width: 10%;
}

#profilePic {
width: 30%;
height: 20%;
}

.profile {
cursor: pointer;
}

#guestLinks {
display: none;
position: absolute;
right: 15;            /* aligns dropdown’s right edge to the icon */
top: 100%;           /* places it below the icon */
background: #F7F5EF;
border: 1px solid #ccc;
border-radius: 4px;
padding: 0.5rem 0;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

#userHeader {
list-style-type: none;
display: none;
}

.dropdown a {
display: block;
padding: 0.5rem 1rem;
text-decoration: none;
color: #333;

}

.dropdown a:hover {
background: #f0f0f0;

}

.dropdown:hover #guestLinks {
display: block; /* show dropdown on hover */

}
/* ------------ MAIN CONTAINER ---------------------- */


.blogstyle {
    outline: 1px solid yellow;
 
}
h3 {
    text-align: center;
    padding: 25px;
    border-bottom: 1px solid blue;
}


.journal-feed {
background-color: gray;
width: 90%;
outline: 5px solid black;
height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.blogstyle {
  width: 90%;
  padding: 16px 0;
  margin: 0 auto;
  align-self: flex-end;
  height: 30%;
}

span {
  outline: 2px solid white;
  margin-bottom: 5%;
}

input[type='search'], #search {
  margin: 3px 10px;
}
