* {
    margin: 0;
    padding: 0;
}

body {
background: #F2EBDF;

}

header {
display: flex;
align-items: center;
justify-content: space-between; /* pushes logo/title left, user icon right */
 padding: 0 16px;
background: #F7F5EF;
border-bottom: 1px solid #ddd;
position: relative;
height: 7vh;
  margin-bottom: 3%;
}

/* Main Container */
.dropdown {
position: relative; /* makes dropdown position relative to this */
width: 10%;
}

#profilePic {
width: 30px;
height: auto;
background-color: transparent;
}

.firstlink {
  padding: 0;
  width: 30px;
}


.profile {
cursor: pointer;
}

#guestLinks {
display: none;
position: absolute;
right: 15;            /* aligns dropdown’s right edge to the icon */
top: 100%;           /* places it below the icon */
background: #F7F5EF;
border: 1px solid #ccc;
border-radius: 4px;
padding: 0.5rem 0;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

#userHeader {
list-style-type: none;
display: none;
}

.dropdown a {
display: block;
padding: 0.5rem 1rem;
text-decoration: none;
color: #333;

}

.dropdown a:hover {
background: #f0f0f0;

}

.dropdown:hover #guestLinks {
display: block; /* show dropdown on hover */

}
/* ------------ MAIN CONTAINER ---------------------- */



.container {

  width: 100%;
  height: 100vh;
  display: flex;
  gap: 8px;
}

button {
 z-index: 1;
}

.toggleOption {
  width: 50px;
  height: 25px;
  border: none;
  background: none;
  color: yellow;
}


 li a { 
  text-decoration: none;
}


.middle-bar {
  width: 50%;
  height: 100%;
flex-grow: 2;
order: 2;
}

.upperHeader {
width: 90%;
height: 15%;
padding: 5px;
  background: #ddd3d9;
  margin: 0 auto;
  font-size: 1.15em;
}

.upperNav, .hoverableUserEdits {
list-style-type: none;
display: flex;
flex-direction: row;
padding: 5px;
}

.upperNav {
  gap: 30%;
}

.hoverableUserEdits {
  padding: 5px;
  background-color: gray;
  color: white;
  font-weight: bold;
  display: none;
  
}

.middle-placeholder:hover .hoverableUserEdits {
  display: inline-flex;
   justify-content: space-around;
 width: 99%;
  opacity: 0.75;
  border-radius: 4px;
}

.hoverableUserEdits .toggleOption:hover {
color: blue;
  opacity: 1;
  cursor: pointer;
  background: white;
  font-weight: bold;
}



h3 {
margin-bottom: 5px;
}

.middle-container {

height: 70%;
width: 100%;

}

.middle-placeholder {

position: relative;
top: 20px;
background: #fff9f4;
height: 55%;
width: 95%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 10px 13px -7px #000000, 1px 7px 5px 3px rgba(74,17,98,0);
} 

.innerstuff {
  list-style-type: none;
  padding: 5px 8px;
 
 
}

.innerstuff li {
  padding-bottom: 10px;
  font-size: 20px;
}

.left-sidebar {
width: 30%;
height: 100%;
background: #d0d7ea;
order: 1;
padding: 10px;
}

.fortheLbtn {
   outline: 1px solid #1B1212;
position: absolute;
right: 70%;
top: 50%;
}

#lBtn {
  height:70px;
   width:30px;
  position:relative;
}

.text-container {
background: #fdfcfd;
margin: 0 auto;
height: 100%;
width: 100%;
}