/* class is dot id is # */

* {
margin: 0;
padding: 0;
}

body {
background: #F2EBDF;

}

header {
display: flex;
align-items: center;
justify-content: space-between; /* pushes logo/title left, user icon right */
padding: 0.5rem 1rem;
background: #F7F5EF;
border-bottom: 1px solid #ddd;
position: relative;
margin-bottom: 5%;
height: 7vh;
}

footer {
height: 7vh;
padding: 0.5rem 1rem;
background: #291c0e;
display: flex;
margin-top: 5%;
}

.logo {
font-weight: bold;
}

.title {
flex-grow: 1;
text-align: center;
font-size: 1.2rem;
}

.dropdown {
position: relative; /* makes dropdown position relative to this */
width: 10%;
}

#profilePic {
width: 30%;
height: 20%;
}

.profile {
cursor: pointer;
}

#guestLinks {
display: none;
position: absolute;
right: 15;            /* aligns dropdown’s right edge to the icon */
top: 100%;           /* places it below the icon */
background: #F7F5EF;
border: 1px solid #ccc;
border-radius: 4px;
padding: 0.5rem 0;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

#userHeader {
list-style-type: none;
display: none;
}

.dropdown a {
display: block;
padding: 0.5rem 1rem;
text-decoration: none;
color: #333;

}

.dropdown a:hover {
background: #f0f0f0;

}

.dropdown:hover #guestLinks {
display: block; /* show dropdown on hover */

}
/* ------------ MAIN CONTAINER ---------------------- */

#container { 
display: flex; 
background-color: white;
flex-direction: row;
width: 90%;
height: 90vh;
outline: 2px solid red;
column-gap: 15px;
padding: 1%;
margin: 0 auto;
}

.left-panel {
background-color: none;
width: 20%;
height: 70%;
outline: 2px solid orange;
align-self: center;
position: fixed;
left: 0;
top: 25%;
z-index: 1;
overflow-x: hidden; 
margin: 0 0 0 0.3%;
}

.blogstyle {
    outline: 1px solid yellow;
    position: absolute;
    bottom: 10%;
    left: 15%;
    height: 40%;
    width: 45%;
}
h3 {
    text-align: center;
    padding: 2%;
    border-bottom: 1px solid blue;
}


.journal-feed {
background-color: gray;
width: 60%;
outline: 5px solid black;
flex-grow: 2;
}


    
#sidebarMenu {
    height: 70%;
    width: 15%;
    margin-top: 60px;
  /*transform: translateX(250px); */
    transition: transform 250ms ease-in-out;
    background: #E8DCC2;
    outline: 3px solid purple;
    /*position: absolute;*/
     flex-grow: 1;
}

.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}


.sidebarMenuInner li{
    list-style: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
  border-bottom: 1px solid black;
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: black;
}

.sidebarMenuInner li a{
    text-decoration: none;
}

input[type="checkbox"] {
transition: all 0.3s;
    box-sizing: border-box;
   display: none; 
}

input[type="checkbox"] {
transition: all 0.3s;
    box-sizing: border-box;
   display: none; 
}

/* starting position set for checkbox */ 
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
} 

.sidebarIconToggle {
   outline: 2px solid blue;
   transform: translate(90%, 30%);
   transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    /* position: absolute; 
    z-index: 99; */
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    /* position: absolute; */
    height: 3px;
    width: 100%;
    background-color: #fff;
   background: black;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    /* position: relative; */
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    /* position: relative; */
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    /* position: relative; */
    float: left;
    margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
  
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
} 

/* ---------- RIGHT SIDE ------- 

.wrapper {
  width: 25%;
  height: 44%;
  outline: 1px solid blue;;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    right: 0;
    width: 250px;
    margin-top: 60px;
  transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background: #E8DCC2;
}




