/* Intro */

* {
margin: 0;
padding: 0;
}

body {
background: #F2EBDF;

}

header {
display: flex;
align-items: center;
justify-content: space-between; /* pushes logo/title left, user icon right */
padding: 0.5rem 1rem;
background: #F7F5EF;
border-bottom: 1px solid #ddd;
position: relative;
margin-bottom: 15%;
height: 7vh;
}

footer {
height: 7vh;
padding: 0.5rem 1rem;
background: #291c0e;
display: flex;
}

.logo {
font-weight: bold;
}

.title {
flex-grow: 1;
text-align: center;
font-size: 1.2rem;
}

.dropdown {
position: relative; /* makes dropdown position relative to this */
width: 10%;
}

#profilePic {
width: 30%;
height: 20%;
}

.profile {
cursor: pointer;
}

.dropdown-content {
display: none;
position: absolute;
right: 15;            /* aligns dropdown’s right edge to the icon */
top: 100%;           /* places it below the icon */
background: #F7F5EF;
border: 1px solid #ccc;
border-radius: 4px;
padding: 0.5rem 0;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.dropdown a {
display: block;
padding: 0.5rem 1rem;
text-decoration: none;
color: #333;

}

.dropdown a:hover {
background: #f0f0f0;

}

.dropdown:hover .dropdown-content {
display: block; /* show dropdown on hover */

}

/* Reg Form */

.container {
width: 70%;
height: 10%;
background: #84A4C4;
margin: 0 auto;
padding: 25px;
min-width: 30%;
outline: 1px solid red;
text-align: center;
}

form {
width: 70%;
min-width: 30%;
background: #84A4C4;
height: 60%;
padding: 25px;
margin: 0 auto;
display: flex;
flex-direction: column;

}

main {
outline: 1px solid brown;
height: 80vh;
margin: 15% 0;
}

input {
width: 75%;
padding: 1%;
border: 1px solid #ccc;
border-radius: 4px;
margin: 0 auto 30px auto;
}

input[type="submit"] {
width: 40%;
display: block;
padding: 3px;
font-size: 1em;
text-align: center;
border-radius: 5px;
}

p, a {
text-align: center;
font-color: red;
font-size: 20px;
font-weight: 500;
}

label {
margin-bottom: 4px;
display: block;
}