/* Intro */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background: #F2EBDF;
height: 87vh;
overflow-y: hidden;
}

header {
display: flex;
align-items: center;
justify-content: space-between; /* pushes logo/title left, user icon right */
padding: 0.5rem 1rem;
background: #F7F5EF;
border-bottom: 1px solid #ddd;
position: relative;
margin-bottom: 5%;
height: 7vh;
}

footer {
height: 5vh;
padding: 0.5rem 1rem;
background: #291c0e;

}

.logo {
font-weight: bold;
}


.dropdown {
position: relative; /* makes dropdown position relative to this */
width: 10%;
}

.firstlink {
  padding: 0;
  width: 30px;
}

.profile {
cursor: pointer;
}

#profilePic {
width: 30px;
height: auto;
background-color: transparent;
}

.dropdown-content {
display: none;
position: absolute;
right: 15;            /* aligns dropdown’s right edge to the icon */
top: 100%;           /* places it below the icon */
background: #F7F5EF;
border: 1px solid #ccc;
border-radius: 4px;
padding: 0.5rem 0;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.dropdown a {
display: block;
padding: 0.5rem 1rem;
text-decoration: none;
color: #333;

}

.dropdown a:hover {
background: #f0f0f0;

}

.dropdown:hover .dropdown-content {
display: block; /* show dropdown on hover */

}

/* Reg Form */

 input[type="text"], input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 80%;
}


.container {

min-width: 30%;

}

.redirectlink {

  text-align: center;
  font-size: 1.2em;
}




form {
  width: 60%; 
  border:1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 25px;
   margin: 0 auto;
  border-radius:8px;
  box-shadow:0 0 20px -10px #000;
   background:#e6e6e6;
}



main {
margin-bottom: 5%;
}

input {
width: 65%;
padding: 5px;
border: 1px solid #ccc;
border-radius: 4px;
margin: 0 auto 30px auto;
}

input[type="submit"] {
width: 100px;
display: block;
padding: 3px;
font-size: 1em;
text-align: center;
border-radius: 5px;
}

h1, p {
  text-align: center;
  padding: 5px;
}


.existinglogin:visited {
  color: green;
}
.existinglogin:hover {
  color: gray;
}

.signupbtn {
  background-color: #7393B3;
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
  border-radius: 4px;
  transition:all .3s;
   position: relative;
  left: 35%;
}

button:hover { 
  background:#78788c;
  color:#fff;
}