* {
  padding: 0;
  margin: 0;
  background-color: #F7F5EF;
}

/*
body {
font-family: Arial, sans-serif;
background: #e5d7c4;
color: #333;
display: block;
min-width: 35%;
margin: 0;
padding: 0;
outline: 3px solid gray;
} */

/* footer at the end seems to not go to the bottom fully? */



#profilePic {
width: 4%;
height: 5%;
background-color: transparent;
}


.heroImg {
  width: 100%;
  inset: 0;
  position: absolute;
  color: transparent;
 height: 100%;
  object-fit: cover;
}


.middleWords {
  padding: 1%;
}


.startBtn {
  padding: 15px;
  margin: 10px;
  border: none;
  background-color: #748C69;
  border-radius: 5px;
}

.theImg {
  position: relative;
  z-index: 0;
  height: 200px;
  flex: 1 1 180px;
  margin-bottom: 32px;
  
}

.heroLanding > div:first-child {
    max-height: 60vh;
    flex: 1 1 180px;
}

.theImg::after {
    height: 40px;
    bottom: 0px;
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
  /* outline: 1px solid red; */
  background: linear-gradient(rgba(247, 247, 247, 0) 0%, rgba(247, 247, 247, 0.09) 8.85%, rgb(247, 247, 247) 100%);
}

h1, h4, h2, {
  padding: 10px;
}

h1, h4 {
  margin: 45px 0;
}


p {
  padding: 5px;
}

h2 {
  margin-top: 40px;
}


h3 {
  margin-bottom: 15px;
}

section {
  text-align: center;
}

.colsContainer {
  display: flex;
  gap: 30px;
  padding: 1%;
 
}

/* Middle section 3 column */

.reasons {

  padding: 1%;
}

.cols {
  width: 100px;
  height: 250px;
  
  justify-content: space-between;
  flex-grow: 2;
  list-style: none;

}

.categories {

  position: relative;
  top: 15%;
  padding: 10px;
}

.colsimg {
  margin: 15px 0;
}

footer {
  width: 100%;
  height: 10%;
  background-color: #484977;
  display: flex;
}

.footerInfo {
    
   margin-left: 15%;
    
}

.footerInfo li {
list-style-type: none;
font-size: 1.2em;

}


button {
border-radius: 8px;
width: 10%;
height: 40%;
padding: 5%;
margin: 0 auto;

}

button:hover {
border-radius: 8px;
background-color: #84A4C4;
color: white;
transition-duration: 3s;

}

nav {
background-color: transparent;
  height: 25%;
  position: fixed;
  padding: 0 16px;
  z-index: 100;
  width: 100%;
  padding-top: 15px;

}

a:first-of-type {
text-decoration: none;
  background-color: transparent;
  color: white;
  font-weight: 800;
  font-size: 1.5em;
  margin: 5%;
}


/* Dropdown Button */
.dropbtn {
  background-color: #C2A878;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  padding: 5px;  
  background-color: transparent;
  left: 90%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F2EBDF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #F2EBDF;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #8B6F47;}


/* The container <div> - needed to position the dropdown content */

/*
.dropdown {
position: relative;
display: inline;
margin-left: 80%; - remove, change to LEFT
}

/* Dropdown Content (Hidden by Default) 
.dropdown-content {
display: none;
position: absolute;
background-color: #F2EBDF;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
left: 10%; - remove
}
/* adding the left removed the previous look of the header, but the % is too far */

/* Links inside the dropdown 
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover 
.dropdown-content a:hover {background-color: #F2EBDF;}

/* Show the dropdown menu on hover 
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {background-color: #8B6F47;} */